<div class="full_product">
  <div class="full_bg_image" style="background-image: url(<%= @shop.logo.url(:full) %>)"></div>

  <div class="product_data">
    <div id="product_links" class="clear">
      <%- the_owner_of(@shop) do -%>
        <%= link_to "edit", edit_shop_path(@shop)%>
      <%- end -%>
    </div>

    <h1><%= @shop.name %></h1>
    <div class="address">
      <p><%= @shop.address %></p>
    </div>
    

    <div class="description">
      <%- @shop.description.split("\n").each do |p|-%>
        <p><%=p %></p>
      <%- end -%>
    </div>

    <div id="socialbox">
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="" layout="box_count" show_faces="true" width="450" action="recommend" font="tahoma" colorscheme="dark"></fb:like>
    </div>    
</div>
<div class="picture-list">
<h2>Currently selling</h2>
  <%= render :partial => "/sale_items/sales", :locals => {:sale_items => [@shop.sale_items.current] } %>

  <h2>All offers</h2>
  <%= render :partial => "/sale_items/sales", :locals => {:sale_items => @shop.sale_items } %>

  <%= the_owner_of(@shop) do -%>
    <p><%= link_to "Add another item", new_shop_sale_item_path(@shop) %></p>
  <%- end -%>
</div>