<div class="data">
  <div id="shop">
    <h1><%= @shop.name %></h1>

    <%= the_owner_of(@shop) do -%>
      <div class="edit">
        <%= link_to "edit", edit_shop_path(@shop)%>
      </div>
    <%- end -%>

    <div class="logos">
      <%= image_tag @shop.logo.url(:medium) %>
    </div>

    <div class="address"><%= @shop.address %></div>
    <div class="description">
      <% @shop.description.split("\n").each do |p| -%>
        <p><%= p %></p>
      <%- end -%>
    </div>

    <% if @shop.sale_items.current %>
    <div>
      Currently selling: <%= link_to @shop.sale_items.current.name, [@shop, @shop.sale_items.current] %>
    </div>
    <%- end -%>
    
    <div class="clear"></div>

    <%= the_owner_of(@shop) do -%>
      <div class="edit">
        <%= link_to "Add another item", new_shop_sale_item_path(@shop) %>
      </div>
    <%- end -%>

  </div>
</div>
