<div id="main_wrapper">
  <div id="title"> 
    <h1>Do you own a small business?</h1>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  <div id="showcase">
    <img src="/images/jam.jpg" alt="Yummy!!" />
  </div>
   
  <div id="products_list">
    <h2>Nuevos Productos</h2>
    <ul>
      <% @products.each do |product| %>
        <li>
          <p><%= product.name%>
        </p>
        <div>
          [imagen del producto cuando lo tenga]
          <div>
            <p>by <%= link_to product.shop.name, shop_path(product.shop)%><%= image_tag product.shop.logo.url(:thumb) %>
          </p>
        </li>
      <%- end -%>
    </ul>
  </div>

  <div id="shops_list">
    <h2>Nuevos Comercios</h2>
    <ul>
      <% @shops.each do |shop| %>
        <li>
          <p><%= link_to shop.name, shop_products_path(shop)%></p>
          <div>
            <%= image_tag shop.logo.url(:medium) %>
          <div>
        </li>
      <%- end -%>
    </ul>
  </div>

</div>
