<ul class="sale_items">
<% sale_items.each_slice(3) do |row| %>
  <li>
    <ul>
      <% row.each do |sale_item| %>
      <li>
        <h3><%= link_to sale_item.name, [sale_item.shop, sale_item] %></h3>
        <div><%= link_to [sale_item.shop, sale_item] do -%>
          <%= image_tag sale_item.image.url(:medium) -%>
        <%- end -%></div>
        <p class="price"><%= "%.2f" % sale_item.price %></p>
        <div class="buy"><%= link_to 'Buy now!!!', buy_shop_sale_item_url(sale_item.shop, sale_item), :class => "buy" %></div>
      </li>
      <%- end-%>
    </ul>
  </li>
<% end %>
</ul>