<%= stylesheet_link_tag "external" %>
<div class="full_product">
  
  <div style="width: 100%; height: 600px; -moz-background-size: cover;-o-background-size: cover;-webkit-background-size: cover;background: url(<%= "http://" + ActionController::Base.asset_host + @bundle.image.url(:full) %>) center no-repeat"></div>

  <div class="product_data">
    <h1><%= @bundle.name %></h1>

    <div class="description">
      <%- @bundle.description.split("\n").each do |p|-%>
        <p><%=p %></p>
      <%- end -%>
    </div>

    <div class="prices">
       <!--
       <p>
         <b>Total cost:</b>
         <%= @bundle.price %>
      </p>
      
      <p>
         <b>You save:</b>
         <%= @bundle.price - @bundle.total_cost %>
      </p>
      -->
      <p class="final">
        <b>Price:</b>
        <%= @bundle.price %>
      </p>
    </div>

    <div id="socialbox">
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="" layout="box_count" show_faces="true" width="450" action="recommend" font="tahoma" colorscheme="dark"></fb:like>
    </div>
    
    <%- unless @bundle.current? -%>
    <p style="clear: both;">
      <div class="not_current">
      <% if @bundle.valid_until <= Date.today %>
        <p>This items are no longer for sale, sorry.</p>
      <%- else -%>
        <p>This item will be on sale starting on <%= l(@bundle.valid_from, :format => :long) %></p>
      <%- end -%>
      <%- if @shop.bundles.current.present? -%>
        <p>Go to the <%= link_to "current sale", current_shop_bundles_path(@shop) %>
        on <%= link_to @shop.name, @shop %></p>
      </div>
      <%- end -%>
    </p>
    <%- end -%>
</div>
<div class="data" style="margin-top: 2em">
  <%- @bundle.products.each do |p| -%>
    <div>
    <h2><%=p.name %></h2>
    <%= image_tag p.picture.url(:medium), :style => "float: left; margin: 1em;" %>
    <%- p.description.split("\n").each do |paragraph| -%>
      <p><%= paragraph%></p>
    <%- end -%>
    </div>
  <%- end -%>
</div>
