<div class="full_product">
  
  <div class="full_bg_image" style="background-image: url(<%= @bundle.image.url(:full) %>)"></div>

  <div class="product_data">
    <div id="product_links" class="clear">
      <%- the_owner_of(@shop) do -%>
        <%= link_to 'Add another item', add_product_to_bundle_path(@bundle) %>
        <%= link_to 'Edit', edit_shop_bundle_path(@shop, @bundle) %>
      <%- end -%>
    </div>

    <h1><%= @bundle.name %></h1>

    <div class="description">
      <%- @bundle.description.split("\n").each do |p|-%>
        <p><%=p %></p>
      <%- end -%>
    </div>

    <div class="prices">
       <!--
       <p>
         <b>Total cost:</b>
         <%= @bundle.price %>
      </p>
      
      <p>
         <b>You save:</b>
         <%= @bundle.price - @bundle.total_cost %>
      </p>
      -->
      <p class="final">
        <b>Price:</b>
        <%= @bundle.price %>
      </p>
    </div>

    <div id="socialbox">
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <fb:like href="" layout="box_count" show_faces="true" width="450" action="recommend" font="tahoma" colorscheme="dark"></fb:like>
    </div>
    
    <%- unless @bundle.current? -%>
    <p style="clear: both;">
      <div class="not_current">
      <% if @bundle.valid_until <= Date.today %>
        <p>This items are no longer for sale, sorry.</p>
      <%- else -%>
        <p>This item will be on sale starting on <%= l(@bundle.valid_from, :format => :long) %></p>
      <%- end -%>
      <%- if @shop.bundles.current.present? -%>
        <p>Go to the <%= link_to "current sale", current_shop_bundles_path(@shop) %>
        on <%= link_to @shop.name, @shop %></p>
      </div>
      <%- end -%>
    </p>
    <%- end -%>
</div>
<div class="data" style="margin-top: 2em">
  <%- @bundle.products.each do |p| -%>
    <h2><%=p.name %></h2>
    <%= image_tag p.picture.url(:medium), :style => "float: left; margin: 1em;" %>
    <%- p.description.split("\n").each do |paragraph| -%>
      <p><%= paragraph%></p>
    <%- end -%>
  <%- end -%>
</div>
