<p id="notice"><%= notice %></p>

<p><%= image_tag @product.picture.url(:large) %></p>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Cost:</b>
  <%= "%.2f" % @product.cost %>
</p>

<p>
  <b>Tax:</b>
  <%= "%.2f" % @product.tax %>
</p>

<div class="logos">
  <%= image_tag @product.picture.url %>
</div>

<%= link_to 'Edit', edit_shop_product_path(@shop, @product) %> |
<%= link_to 'Back', shop_products_path(@shop) %>
