<div id="main_header">
  <h1>
    <%= link_to "PymePrivee", root_path  %>
  </h1>
  <ul class="header_links">
    <%- if user_signed_in? -%>
      <li>
        <%= link_to "Sign out", destroy_user_session_path %>
      </li>
      <li>
          <span class="greeting">Hello <%= link_to current_user.shop.name, my_shop_shops_path %> owner</span> 
      </li>
    <%- else -%>
      <li>
        <%= link_to "Sign in", new_user_session_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path -%>
      </li>
    <%- end -%>
  </ul>
</div>
